APP_NAME="Atoms Laravel Example"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stderr

ATOMS_ENVIRONMENT=production
ATOMS_ENDPOINT=http://127.0.0.1:8787
ATOMS_API_KEY=
ATOMS_PLATFORM_PUBLIC_KEY=
ATOMS_CALLBACK_PATH=/atoms/callback
ATOMS_CALLBACK_TIMESTAMP_WINDOW=300
